


.alice-carousel__stage-item{
  padding: 0 8px;
}

.alice-carousel__dots{
    margin: 0;
    cursor: auto;
}

.alice-carousel__dots-item:not(:first-of-type){
    margin-left: 5px;
}

.alice-carousel__dots-item.__active{
    span{
      width: 24px;
      cursor: default;
      background-color: #9d33ff;
   /*    background: radial-gradient(closest-side, rgb(132, 0, 255), #ebf8e1, #00C0FD);
    */
  
  }
   
  }